// search cab be done by writting --> characters or characters/students or characters/staff or characters/house/:house 
<h1>Search for harry Potter characters name</h1>
<form action="/result" method="GET">
    <input type="text" ,placeholder="serach term" name="search">
    <input type="submit">
</form>
